/* BODY FOR LOGIN, REGISTER AND RESET*/
#login, #register, #reset{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(190,18,149,1) 0%, rgba(0,74,255,1) 99%);
    font-family: 'Roboto', sans-serif;
}


/*      INDEX       */
#indexbody{
    background-color: rgb(26, 26, 26);
    color: white;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.maindiv{
    margin:20px 0px 10px 10px;
    
}
.mensajes{
    background-color: #2d2d33; 
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    font-size: 17px;
    word-wrap: break-word;
    overflow-y:scroll;
    height:90vh;
}

  
.input_message{
    margin-left:20px;
    background-color: #34343b;
    color: white;
    
}

.logueados p{
    border-width: 2px;
    border-color: red;
    border-style: dashed;
    padding: 5px;
}

.asd{
    top:378px;
    left:105px;
    position: absolute;
}

.logueados{
    background-color:#02209c;
    color:white;
    border-radius: 25px;
    padding: 20px; 
    margin-left:20px;
    height:90vh;
}

.message{
    padding-left: 10px;
    margin-left: 15px;
    border-radius:12px;
}
.send_button{
    width:43px;
    height: 33px;
    margin-top: 5px;
}




.login, .register, .reset{
    background-color:white;
    color: black;
    width: 20em;
    height: 25em;
    padding-top: 0.5em;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    left: 40%;
    
}


/*    LOGIN     */
.login input{
    margin: 1em;
    height: 2em;
}
.login input[type=submit]{
    width: 13em;
    height: 2em;
    background-color: #fc03df;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 75px;
}
.login a{
    text-decoration: none;
    color: #bdbdbd;

}


/*   REGISTRO      */

.register input{
    margin: 1em;
    height: 2em;
}
.register input[type=submit]{
    width: 13em;
    height: 2em;
    background-color: #fc03df;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.mensajes{
    margin-left: 15px;
}
.register a{
    text-decoration: none;
    color: #bdbdbd;
}

/* RESET */
.reset input{
    margin: 1em;
    height: 2em;
}
.reset input[type=submit]{
    width: 13em;
    height: 2em;
    background-color: #fc03df;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 100px;
}
.reset a{
    text-decoration: none;
    color: #bdbdbd;
    margin: 50px;
    top:320px;
    left:61px;
    position: absolute;

}

    