/* BODY FOR LOGIN, REGISTER AND RESET*/
#login, #register, #reset, #autenticate{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(190,18,149,1) 0%, rgba(0,74,255,1) 99%);
    font-family: 'Roboto', sans-serif;
}


/*      INDEX       */

#indexbody{
    background-color: rgb(26, 26, 26);
    color: white;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    height: 100%;
}

#usuarioscon{
    font-size: 30px;
    text-align: center;
}

.logged_user{
    text-align: center; 
    background-color: #23272a;

}
.logged_user:hover{
    background-color: #2c2f33;
}

.mensajes{
    background-color: #2d2d33; 
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    font-size: 17px;
    word-wrap: break-word;
    overflow-y:scroll;
    height:90vh;

}

.linea{
    border-color: #c7c7c7;
}

  
.input_message{
    background-color: #34343b;
    color: white;
    
}

.back{
    top:26em;
    left:105px;
    position: absolute;
}

.usuarios{
    overflow-y:auto;
    word-wrap: break-word;
    height:73vh;
}

.logueados{
    background-color:#23272a;
    color:white;
    height:90vh;
}

.message{
    padding-left: 10px;
    border-radius:12px;
    width: 93%;
}
.send_button{
    width:73px;
    height: 33px;
    margin-top: 5px;
}
.logout{
    text-decoration: none;
    color: #7289da;
}



.login, .reset{
    background-color:white;
    color: black;
    width: 20em;
    height: 25em;
    padding-top: 0.5em;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    left: 40%;
    
}


/*    LOGIN     */
.login input{
    margin: 1em;
    height: 2em;
}
.login input[type=submit]{
    width: 13em;
    height: 3em;
    background-color: #fc03df;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 75px;
}
.login a{
    text-decoration: none;
    color: #bdbdbd;

}



/*   REGISTRO      */

.register input{
    margin: 1em;
    height: 2em;
}
.register input[type=submit]{
    width: 13em;
    height: 3em;
    background-color: #fc03df;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.register input[type=checkbox]{
    margin: 0px;
}

.register label{
    font-size: 12px;
}


.register a{
    text-decoration: none;
    color: #bdbdbd;
}

.register{
    background-color:white;
    color: black;
    width: 20em;
    height: 30em;
    padding-top: 0.5em;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    left: 40%;
}

/* RESET */
.reset input{
    margin: 1em;
    height: 2em;
}
.reset input[type=submit]{
    width: 13em;
    height: 3em;
    background-color: #fc03df;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 100px;
}
.reset a{
    text-decoration: none;
    color: #bdbdbd;
    margin: 50px;
    top:320px;
    left:61px;
    position: absolute;

}


/*      AUTENTICATE      */

.autenticate{
    background-color:white;
    color: black;
    width: 20em;
    height: 14em;
    padding-top: 0.5em;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    left: 40%;
}


.autenticate input{
    height: 2em;
    margin-bottom: 2em;
}
.autenticate input[type=submit]{
    width: 13em;
    height: 3em;
    background-color: #fc03df;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 75px;
}

    