<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Autenticate</title>
</head>

<body id="autenticate">


    <div class="autenticate">
        <h1>Autenticate</h1>
        <form action="/login/autenticate" method="POST">
            <input type="text" name="code" placeholder="12345"><br>
            <input type="submit" value="Aceptar">
        </form>
    </div>


    {% if error %}
                <script> alert('{{error}}');</script>

            {% endif %}
</body>

</html>