<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    
    <form action="/registro" method="POST">
        <div>
            <input type="text" name="email" placeholder="Email">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="user" placeholder="Username">
            <input type="text" name="password" placeholder="Password">
        </div>
        <input type="submit" value="Aceptar">
    </form>

    <h1>{{error}}</h1>


</body>
</html>