<!DOCTYPE html>
<html>
<head>
	<title>Restablecer Contraseña</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body id="reset">
	<div class="reset">
		<h1>Restablecer Contraseña</h1>
		<form action="/reset" method="POST">
			<input type="text" name="email" placeholder="E-Mail">
			<input type="password" name="old_pass" placeholder="Contraseña antigua"><br>
			<input type="password" name="new_pass" placeholder="Contraseña nueva"><br>

			<input type="submit" name="reset_pass">
			<a href="/login"> Volver al login</a>
		
		</form>
		{{ error }}
	</div>
</body>
</html>